@import "reset.css";

.hidden {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

/*--------------------*/

#dday-form input {
  border: none;
  font-size: 15px;
  padding: 5px 0px;
  background-color: transparent;
  color: white;
}

#dday-form input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

#dday-form input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 0.1s ease-in-out;
}

#dday-form input[type="submit"] {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  cursor: pointer;
}

#dday {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  font-weight: 300;
  position: fixed;
  width: 100%;
  padding: 50px 0px 0px 0px;
}

#dday-title {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

#dday-counter {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

/*--------------------*/

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 350px 0px 0px 0px;
}

#clock {
  width: 460px;
  font-weight: 500;
  font-size: 80px;
}

#login-form input {
  border: none;
  font-size: 20px;
  padding: 10px 0px;
  background-color: transparent;
  color: white;
}

#login-form input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

#login-form input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 0.1s ease-in-out;
}

#login-form input[type="submit"] {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  cursor: pointer;
}

#greeting {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
  padding: 10px 0px;
}

/*--------------------*/

#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#todo-form input {
  border: none;
  width: 280px;
  font-size: 20px;
  padding: 10px 0px;
  background-color: transparent;
  color: white;
}

#todo-form input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

#todo-form input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 0.1s ease-in;
}

#todo button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

#todo-list li {
  padding: 2px 0px;
}

/*--------------------*/

#quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  bottom: 0;
  font-weight: 300;
  position: fixed;
  width: 100%;
  padding: 0px 0px 50px 0px;
}

#quote span:first-child {
  font-size: 20px;
  padding: 10px 0px;
}

#quote span:last-child {
  font-size: 15px;
}
